<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        <li><%- swJson[0] %></li>
        <li><%- swJson[1] %></li>
        <li><%- swJson[2] %></li>
        <li><%- swJson[3] %></li>
        <li><%- swJson[4] %></li>
        <li><%- swJson[5] %></li>
    </ul>
</body>
</html>